In [ ]:
# Car Evaluation

In [1]:
print("hello")

hello

In [3]:
import pandas as pd 
file = 'car_evaluation.csv'

df = pd.read_csv(file)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1726 entries, 0 to 1725
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   vhigh    1726 non-null   object
 1   vhigh.1  1726 non-null   object
 2   2        1726 non-null   int64
 3   2.1      1726 non-null   int64
 4   small    1726 non-null   object
 5   med      1726 non-null   object
 6   unacc    1726 non-null   object
dtypes: int64(2), object(5)
memory usage: 94.5+ KB

In [6]:
df.head()

   vhigh vhigh.1  2  2.1  small   med  unacc
0  vhigh   vhigh  2    2  small  high  unacc
1  vhigh   vhigh  2    2    med   low  unacc
2  vhigh   vhigh  2    2    med   med  unacc
3  vhigh   vhigh  2    2    med  high  unacc
4  vhigh   vhigh  2    2    big   low  unacc